{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>My Inventory System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-4">

        <h1>My Inventory System</h1>

        <nav>
            <a href="/view_supplier">View Suppliers</a> |
            <a href="/view_bottles">View Bottles</a> |
            <a href="/add_bottle">Add Bottle</a>
        </nav>

        <hr>

        {% block content %}
        {% endblock %}

    </div>

</body>
</html>